<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> User Registration</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-----Registration Form------>
            <div class="mb-3">
                <form [formGroup]="registerForm" >
                    &nbsp; <input for="formGroupExampleInput" class="form-label" type="text" placeholder="First Name" name="firstname" formControlName="firstname">
                        &nbsp;<div class="err" *ngIf="firstname && firstname.invalid && firstname.touched"  >FirstName is required</div>
                    

                            




                    &nbsp; <input for="formGroupExampleInput" class="form-label" type="text" placeholder="Last Name"
                        name="lastname" formControlName="lastname"><br><br>




                    &nbsp; <input class="form-label" type="email" placeholder="Email Id" name="email"
                        formControlName="email"><br><br>




                    &nbsp; <input class="form-label" type="text" placeholder="+91-7788445252" name="contact"
                        formControlName="contact"><br><br>



                    <label>Age:</label>
                    &nbsp;<input class="form-label" type="range" placeholder="Age" name="age"
                        formControlName="age"><br><br>



                    &nbsp; <input class="form-label" type="option" placeholder="State" name="state"
                        formControlName="state"><br><br>



                    &nbsp; <input class="form-label" type="option" placeholder="Country" name="country"
                        formControlName="country"><br><br>


                    &nbsp; <input class="form-label" type="text" placeholder="Address" name="address"
                        formControlName="address"><br>


                    &nbsp; <input class="form-label" type="text" placeholder="tag" name="tag"
                        formControlName="tag"><br><br>


                    &nbsp; <input class="form-label" type="checkbox">all information corret<br>
                    &nbsp; <button  type="button" (click)="register()">Register</button>&nbsp;<button type="button">Reseat</button> &nbsp;
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>