<div class="profile">
    <h2>User Profile</h2>
    <table>
        <thead>
            <tr> 
                 <th>Profile image</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Contact</th>
                <th>Age</th>
                <th>Addess Type</th>
                <th>Address</th>
                <th>Country</th>
                <th>State</th>
                <th>Tag</th>
            </tr>
        </thead>
       
    </table>
</div>